*.pyc
*~
*.vtu
*.pvd
\#*

# These files are automaticaly generated, thus they do not need to be included
Laplace.py
Laplace1D.py
NavierStokes.py
CouetteFlow.py
CouetteFlowOldroydB.py
TaylorCouetteFlow.py
TaylorCouetteFlowOldroydB.py